---
image:
  longhorn:
    engine:
      repository: {{ internal_docker_repo_url}}/longhorn-engine
      tag: v1.2.2
    manager:
      repository: {{ internal_docker_repo_url}}/longhorn-manager
      tag: v1.2.2
    ui:
      repository: {{ internal_docker_repo_url}}/longhorn-ui
      tag: v1.2.2
    instanceManager:
      repository: {{ internal_docker_repo_url}}/longhorn-instance-manager
      tag: v1_20210731
    shareManager:
      repository: {{ internal_docker_repo_url}}/longhorn-share-manager
      tag: v1_20210914
    backingImageManager:
      repository: {{ internal_docker_repo_url}}/backing-image-manager
      tag: v2_20210820
  csi:
    attacher:
      repository: {{ internal_docker_repo_url}}/csi-attacher
      tag: v3.2.1
    provisioner:
      repository: {{ internal_docker_repo_url}}/csi-provisioner
      tag: v2.1.2
    nodeDriverRegistrar:
      repository: {{ internal_docker_repo_url}}/csi-node-driver-registrar
      tag: v2.3.0
    resizer:
      repository: {{ internal_docker_repo_url}}/csi-resizer
      tag: v1.2.0
    snapshotter:
      repository: {{ internal_docker_repo_url}}/csi-snapshotter
      tag: v3.0.3
