apiVersion: v1
data:
  tls.crt: "{{ public_cert | b64encode }}"
  tls.key: "{{ public_cert_key | b64encode }}"
kind: Secret
metadata:
  name: tls-rancher-ingress
  namespace: cattle-system
type: kubernetes.io/tls
