apiVersion: kubeadm.k8s.io/v1beta2
kind: InitConfiguration
certificateKey: {{ kubernetes_certificate_key.stdout }}
---
apiVersion: kubeadm.k8s.io/v1beta2
kind: ClusterConfiguration
kubernetesVersion: stable
clusterName: kubernetes
apiServer:
  certSANs:
  - "{{ kubernetes_loadbalancer }}"
controlPlaneEndpoint: "{{ kubernetes_loadbalancer }}:7443"
networking:
  dnsDomain: cluster.local
  podSubnet: {{ kubernetes_pod_network }}
  serviceSubnet: {{ kubernetes_svc_network }}


