kubeadm join {{ kubernetes_loadbalancer }}:6443 --token {{ hostvars[groups['k8s_masters'][0]]['kubernetes_join_token'].stdout }} --discovery-token-ca-cert-hash {{ hostvars[groups['k8s_masters'][0]]['kubernetes_discovery_token'].stdout }} --control-plane --certificate-key {{ hostvars[groups['k8s_masters'][0]]['kubernetes_certificate_key'].stdout }}
touch cluster_initialized.txt
