---
ingress:
  main:
    enabled: true
    hosts:
    - host: {{ app_dns_name }}.{{ public_dns_name }}
      paths:
      - path: /
        pathType: Prefix
    tls:
      - secretName: {{ tls_secret }}
        hosts:
          - {{ app_dns_name }}.{{ public_dns_name }}

persistence:
  config:
    enabled: true
    mountPath: /config

env:
  TZ: {{ timezone }}
