---
ingress:
  main:
    enabled: true
    hosts:
    - host: heimdall.{{ public_dns_name }}
      paths:
      - path: /
        pathType: Prefix
    tls:
      - secretName: {{ tls_secret }}
        hosts:
          - heimdall.{{ public_dns_name }}

persistence:
  config:
    enabled: true
    mountPath: /config

env:
  TZ: {{ timezone }}
