---
ingress:
  main:
    enabled: true
    hosts:
    - host: {{ hostvars[inventory_hostname][item].app_dns_name }}.{{ public_dns_name }}
      paths:
      - path: /
        pathType: Prefix
    tls:
      - secretName: {{ hostvars[inventory_hostname][item].tls_secret }}
        hosts:
          - {{ hostvars[inventory_hostname][item].app_dns_name }}.{{ public_dns_name }}

persistence:
  config:
    enabled: true
    mountPath: /config

env:
  TZ: {{ timezone }}
