apiVersion: v1
data:
  tls.crt: "{{ public_cert }}"
  tls.key: "{{ public_cert_key }}"
kind: Secret
metadata:
  name: "{{ hostvars[inventory_hostname][item].tls_secret }}"
  namespace: "{{ hostvars[inventory_hostname][item].role_namespace }}"
type: kubernetes.io/tls
