global_defs {
   router_id "{{ inventory_hostname_short }}"
}

vrrp_instance 41 {
    state "{{ keepalived_state }}"
    interface eth0
    virtual_router_id 41
    priority "{{ keepalived_priority }}"
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass "{{ keepalived_pass }}"
    }
    virtual_ipaddress {
        "{{ kubernetes_loadbalancer }}"
    }
}


