apiVersion: v1
data:
  tls.crt: "{{ public_cert }}"
  tls.key: "{{ public_cert_key }}"
kind: Secret
metadata:
  name: "{{ tls_secret }}"
  namespace: "{{ kubernetes_dashboard_namespace }}"
type: kubernetes.io/tls
