---
ingress:
  main:
    enabled: true
    hosts:
      host: heimdall.{{ public_dns_name }}
    tls:
      - secretName: ingress-tls-secret
        hosts:
          - heimdall.{{ public_dns_name }}

persistence:
  config:
    enabled: true
    mountPath: /config
